# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Build output
dist/
build/

# Environment files
.env
.env.local
.env.*.local

# Temporary files
*.tmp
*.swp
*.pid
*.seed
*.pid.lock

# Coverage files
coverage/

# IDE-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Operating system files
.DS_Store
Thumbs.db

# Debug tools
*.log
*.tgz
*.lock
*.gz
*.zip
